:root{
	--main-color:#FC5B31;
	--lighter-main-color:#ffb363;
	--body-color:#F5F5F5;
	--product-block:#fff;
	--border-color:#dddddd;
	--filter-section:#b54a90; 
	--item-name:#ff776b;
	--item-background:#eeeeee;

	--danger:#dd4b39;
	--success:#00a65a;
	--warning:#f39c12;
	--default:#dddddd;
	--other-btn:#e8416c;
	
}

body{
	background-color: var(--body-color);
}
body.modal-open {
    overflow: visible;
}
.login-admin{
	width: 300px;
	margin: auto;
}
.status-default{
	color: var(--default);
}

.status-success{
	color: var(--success);
}
.status-danger{
	color: var(--danger);
}
.status-warning{
	color: var(--warning);
}
.btn-default2{
	background-color: var(--main-color);
	border-color: var(--main-color);
}
.btn-other{
	background-color: var(--other-btn);
}
.login-btn{
	width: 150px;
	margin: 10px 75px 10px 75px;
}
li.user-footer ul li{
	float: right;
	padding-bottom: 10px;
	width: auto;
}
li.user-footer ul li a{
	width: 138px;
}
.df{
	position: absolute;
	right: 10px;
	top:10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

/*register page*/
.single-item-header{
	width: 270px;
	height: 270px;
}
.single-item-header.related-product{
	width: 200px;
	height: 200px;
} 
.gender-rad{
	width: 100px;
}
input[type=radio]{
	width: 20px;
	height: 100%;
}

/*Index page*/
#content{
	min-height: 700px;
}
.header-body{
	background-image: linear-gradient(45deg, var(--main-color), var(--lighter-main-color));
	border-bottom:0.5px solid var(--border-color);
}
.item-number{
	position: absolute;
	top:-10px;
	background-color: var(--main-color);
	color: #fff;
	z-index: 100;
	line-height: 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	/*border: 0.5px solid #fff;*/
}
ul.cart-items-list{
	width: 300px;
	background-color: red;
	position: absolute;
	top: 100%;
	left: auto;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 5px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.container{
	width: 1300px;
}

p.single-item-price{
	height: 40px;
}
.beta-products-list{
	background-color: var(--product-block);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding-bottom: 20px;
}
.beta-products-list .row{
	margin: 10px 10px 10px 10px;
}
.beta-products-list .block-title{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding-left: 20px;
	background-color: var(--main-color);
	
}
.beta-products-list .block-title h4{
	color: #fff;
}
.beta-products-list .row .item-block{
	border-right: 0.5px solid #ddd;
}
.compare-btn{
	position: fixed;
	z-index: 2000;
	top: 300px;
	right: 10px;

}
/*Search sortby*/
.filter{
	height: 50px;
	border-top:0.5px solid var(--border-color);
	background-color: var(--filter-section);
}
.filter h4{
	color: #fff;
	text-align: center;
	line-height: 50px;
}
/*COMPARE LIST*/
.modal-dialog{
	width: 900px;
}
.compare-item{
	border-right: 0.5px solid var(--border-color);
}
.compare-item-del{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	right: 10px;
}
/*CART*/
.cart{
	border: none !important;
	min-height: 200px;
}
.cart #qty,
.cart #add,
.cart #sub{
	position: relative;
	float: left;
}
.cart #add,
.cart #sub{
	width: 40px;
}
.item-price,
.delete-item{
	width: 50%;
	position: relative;
	float: left;
}
.sub-total{
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*///////////////*/
/*///CHeckout////*/
/*///////////////*/
.box-head.checkout h4{
	margin-left: 10px;
}
.row.checkout{
	margin: 0px 0px 3px 0px;
	background-color: var(--border-color);
	padding: 10px 5px 10px 5px;
}
.box-body.checkout{
	padding-right: 0;
	padding-left: 0;
}
.btn-place-order h4{
	color: #fff;
}
.row.change-info{
	margin-right: 0px;
	margin-left: 0px;
}
/*tabs detail products*/
/* Tabs*/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	/*background: #007b5e;*/
    /*color: #eee;*/
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 20px;
}

.comment-user{
	padding-left: 10px;
	margin-top: 5px;
	background-image: linear-gradient(to right, var(--border-color), white);
}
.comment-content{
	padding-left: 10px;
	min-height: 30px;
	/*background-color: blue;*/
}
/*Main menu*/

#main_menu,
#main_menu ul,
#main_menu ul li,
#main_menu ul li a,
#main_menu #menu_button{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	z-index: 100;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
#main_menu:after,
#main_menu:ul:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#main_menu #menu_button{
	display: none;
}
#main_menu{
	font-family: Montserrat, sans-serif;
	background-color: var(--main-color);
	height: 50px;

}
#main_menu>ul>li{
	float: left;
}
#main_menu>ul>li>a{
	padding: 17px;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #dddddd;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-transition: color .25s ease;
	-moz-transition: color .25s ease;
	transition: color .25s ease;
}
#main_menu>ul>li:hover>a{
	color: #fff;
}
#main_menu>ul>li.has_sub>a{
	padding-right: 30px;
}
#main_menu ul>li.has_sub>a:after{
	position: absolute;
	top: 15px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #dddddd;
	content: '';
	-webkit-transition: color .25s ease;
	-moz-transition: color .25s ease;
	transition: color .25s ease;
}
#main_menu>ul>li.has_sub:hover>a:after,
#main_menu>ul>li.has_sub>a:hover:after{
	background: #ffffff;
}
#main_menu ul>li.has_sub>a:before{
	position: absolute;
	top:12px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #dddddd;
	content: '';
	-webkit-transition: color .25s ease;
	-moz-transition: color .25s ease;
	transition: color .25s ease;
}
#main_menu ul>li.has_sub:hover>a:before,
#main_menu ul>li.has_sub>a:hover:before{
	top: 23px;
	height: 0;
}
#main_menu ul ul{
	position: absolute;
	left: -9999px;
}
#main_menu li:hover>ul{
	left: auto;
}
#main_menu ul ul ul{
	margin-left: 100%;
	top:0;
}
#main_menu ul ul li{
	height: 0;
	-webkit-transition:height .25s ease;
	-moz-transition: height .25s ease;
	transition:  height .25s ease;
}
#main_menu ul,
#main_menu ul li,
#main_menu ul ul li{
/*background-color: #aaa;*/

}
#main_menu li:hover>ul>li{
	height: 35px;
}
#main_menu ul ul li a{
	width: 170px;
	padding: 11px 15px;
	border-bottom: 1px solid rgba(150,150,150,0.15);
	font-size: 12px;
	text-decoration: none;
	color: #dddddd;
	font-weight: 400;
	background: var(--main-color);
}
#main_menu ul ul li:last-child>a,
#main_menu ul ul li.last-item>a{
	border-bottom: 0;
}
#main_menu ul ul li:hover>a,
#main_menu ul ul li a:hover{
	color: #ffffff;
}
/*Login and register*/
.form-login{
	background-color: #fff;
}

/*Profile page*/
#wishlist-sec{
	display: none;
}
#info-sec{
	display: none;
}
.wishlist-item{
	min-height: 100px;
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 10px 0px;
	background-color: var(--item-background);
}
.item-name{
	color: var(--item-name);
}
.bill-overview{
	border-bottom:0.5px solid var(--border-color);
	min-height: 50px;
	/*background-color: red;*/
	padding: 10px 5px 10px 5px;
	
}
.bill-detail .row{
	margin-left: 0px;
	margin-right: 0px;
}
.bill-total{
	border-top:0.5px solid var(--border-color);
}
.bill-detail{
	display: none;
	padding: 10px 10px 10px 10px;
	background-color: #eeeeee;
}
.bill-detail p{
	font-size: 20px;
}



/*//////////////////////*/
/*admin-section product*/
/*//////////////////////*/
.img_del{
	width: 20px;
	height: 20px;
	z-index: 99;
	position: absolute;
	top: 5px;
	right: 5px;
}
.img_del a i:hover{
	color: black;
}
.img_del a i{
	color: gray;
}
.product_img_edit{
	width: 100%;
	position: relative;
	float: left;
}
.img_block{
	width: 130px;
	position: relative;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.img_block img{

}
.admin_btn_add{
	float: right;
}

/*Dashboard*/
.topPr-img{
	min-height: 250px;
}
#users-sec, #products-sec, #report-sec{
	display: none;
}
/*Product detail*/
.buy-now{
	background-color:#aa0000;
	height:36px;
	width:200px;
	text-align:center;
	display:inline-block;
	margin-right:2px;
}
.buy-now p{
	line-height: 35px;
	font-size:22px;
	color:#fff;
}

/*Add Product*/
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #f88028;
	border: 1px solid #0e0d0d;
	border-radius: 4px;
	cursor: default;
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	padding: 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	padding: 1px 10px;
	color: #030303;
}

/*ADMIN SECTION*/
/*Slick Slide*/


/*Bill Detail*/
.subtotal{
	padding: 5px 5px 5px 5px;
	line-height: 30px;
	text-align: center;
	background-color: #ffa259;
}
.subtotal-name{
	line-height: 30px;
	text-align: center;
	border-right: 1px solid black;
}
.subtotal-amount{
	line-height: 30px;
	text-align: center;
	padding-right: 30px;
	text-align: right;
}
.status button{
	position: relative;
	float: left;
	margin-right: 10px;
}

.confirmation-st {
	position: relative;
	float: left;
	width: 60%;
	height: 30px;
	margin-right: 20px;
}
.confirmation-st span{
	float: right;
	line-height: 20px;
}

/*Report*/
.small-box .inner a h3,
.small-box .inner a h4{
	color: #fff;
}

.report-detail{
	margin-right: 0px;
	margin-left: 0px;
}
.report-header{
	background-color: #E3120E;
	color: #fff;
	margin-bottom: 20px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.report-body{
	background-color: #FA270C;
	color: #fff;
	margin-bottom: 20px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
